# Dépendances Node
/node_modules

# Dossiers de build Capacitor
/android/

# Nouvelle règle : Ignorer le contenu du dossier ios/, mais pas le dossier lui-même
# Cela permet aux règles d'exception de fonctionner.
/ios/*

# Exception pour le fichier exportOptions.plist
!/ios/App/exportOptions.plist

# Fichiers de log et de cache
*.log
.DS_Store